.zodiac-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 160px;
  width: 120px;
  background-color: hsl(270, 29%, 45%, 0.85);
  border-radius: 10px;
}

.zodiac-card img {
  height: 80px;
  width: 80px;
}

.name {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 900;
}

.dates {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
